.todo {
  width: 55%;
}

.todo-set {
  margin-top: 70px;
  margin-left: 20%;
  box-sizing: border-box;
  padding: 20px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-set h2 {
  font-size: 30px;
  margin: 20px 0px;
}
